@* This must be inherited on a layout *@
@inherits LayoutComponentBase

<NavMenu />

<main class="container container-xl">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to My machines</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="main-content-area bg-white border border-white rounded p-3">
                @Body
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="blazor-error-ui">
                An unhandled error has occurred.
                <a href="" class="reload">Reload</a>
                <a class="dismiss">🗙</a>
            </div>
        </div>
    </div>
</main>