@* This must be inherited on a layout *@
@inherits LayoutComponentBase
@using MyMachines.Components.SubComponents

<NavMenu />

<main class="container container-xl">
    <div class="row">
        <div class="col-12">
            <h1>Machine dashboard</h1>
            <p>[Placeholder för ingresstext]</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-xl-3 col-lg-4">
            <div class="sidebar-stats bg-white border border-white rounded p-3">
                <MachineStats />
            </div>

        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="main-content-area bg-white border border-white rounded p-3">
                @Body
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="blazor-error-ui">
                An unhandled error has occurred.
                <a href="" class="reload">Reload</a>
                <a class="dismiss">🗙</a>
            </div>
        </div>
    </div>
</main>