/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.chart-container {
/*    background: #444e80;*/
}



/* Donut stats*/
.stats-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.graph-container {
    position: relative;
}
    .graph-container p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        color: #fff;
        text-align: center;
    }

.percent {
    display: block;
    width: 120px;
    height: 120px;
}

.circle {
    stroke: #fff100;
    fill: none;
    stroke-width: 3;
}
    .circle:nth-child(1) {
        stroke: #00bcf2;
    }
    .circle:nth-child(2) {
        stroke: #fff8c00;
    }
    .circle:nth-child(3) {
        stroke: #e81123;
    }
    .circle:nth-child(4) {
        stroke: #00b294;
    }
    .circle:nth-child(5) {
        stroke: #bad80a;
    }
    .circle:nth-child(6) {
        stroke: #00188f;
    }
    .circle:nth-child(7) {
        stroke: #009e49;
    }
    .circle:nth-child(8) {
        stroke: #ec008c;
    }
    .circle:nth-child(9) {
        stroke: #68217a;
    }





/* Bar stats */




.keyvalue-stats {
    white-space: nowrap;
    max-height: 170px;
    overflow: hidden;
}

    .keyvalue-stats:hover {
        overflow-x: auto;
    }

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
    height: 5px;
    width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #abafc6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5397d6;
}

.key-group {
    cursor: pointer;
    max-width: 400px;
    height: 110px;
    margin: 10px;
    display: inline-block;
}

.bar {
    background-color: #abafc6;
    width: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.key-group:hover .bar,
.selected .bar {
    background: #5397d6;
}

.key-group:hover p,
.selected p {
    color: #fff;
}
